.gradient-background {
    background: linear-gradient(300deg, #2B3499, #A0DEFF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  .profile-img {
    border-radius: 10px 100px / 120px;
    box-shadow: 10px 5px 5px grey
  }
  /*.lead{
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: italic;
    font-size:1.5rem;
  }*/
  .lead{
    font-size: 1.5rem;
    font-family: serif;
  }

  .title{
    font-family:sans-serif
  }
  .card{
    background-image: linear-gradient(to right, #003285 , #2A629A);
  }


  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  